<a href="https://colab.research.google.com/github/dotsnangles/SOLVEDAC-Data-Structures-and-Algorithms/blob/master/solved_ac_Class_2_Essencials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 4153번 직각삼각형

[Link](https://www.acmicpc.net/problem/4153)

#### 문제

과거 이집트인들은 각 변들의 길이가 3, 4, 5인 삼각형이 직각 삼각형인것을 알아냈다. 주어진 세변의 길이로 삼각형이 직각인지 아닌지 구분하시오.

#### 입력

입력은 여러개의 테스트케이스로 주어지며 마지막줄에는 0 0 0이 입력된다. 각 테스트케이스는 모두 30,000보다 작은 양의 정수로 주어지며, 각 입력은 변의 길이를 의미한다.

#### 출력

각 입력에 대해 직각 삼각형이 맞다면 "right", 아니라면 "wrong"을 출력한다.

In [ ]:
while True:
    case = input()
    if case == '0 0 0':
        break
    else:
        case = case.split(' ')
        case = list(map(int, case))
        maxNum = max(case)
        case.remove(maxNum)
        case = list(map(lambda x: x**2, case))
        if case[0] + case[1] == maxNum**2:
            print('right')
        else:
            print('wrong')

### 2798번 블랙잭

#### 문제

카지노에서 제일 인기 있는 게임 블랙잭의 규칙은 상당히 쉽다. 카드의 합이 21을 넘지 않는 한도 내에서, 카드의 합을 최대한 크게 만드는 게임이다. 블랙잭은 카지노마다 다양한 규정이 있다.

한국 최고의 블랙잭 고수 김정인은 새로운 블랙잭 규칙을 만들어 상근, 창영이와 게임하려고 한다.

김정인 버전의 블랙잭에서 각 카드에는 양의 정수가 쓰여 있다. 그 다음, 딜러는 N장의 카드를 모두 숫자가 보이도록 바닥에 놓는다. 그런 후에 딜러는 숫자 M을 크게 외친다.

이제 플레이어는 제한된 시간 안에 N장의 카드 중에서 3장의 카드를 골라야 한다. 블랙잭 변형 게임이기 때문에, 플레이어가 고른 카드의 합은 M을 넘지 않으면서 M과 최대한 가깝게 만들어야 한다.

N장의 카드에 써져 있는 숫자가 주어졌을 때, M을 넘지 않으면서 M에 최대한 가까운 카드 3장의 합을 구해 출력하시오.

#### 입력

첫째 줄에 카드의 개수 N(3 ≤ N ≤ 100)과 M(10 ≤ M ≤ 300,000)이 주어진다. 둘째 줄에는 카드에 쓰여 있는 수가 주어지며, 이 값은 100,000을 넘지 않는 양의 정수이다.

합이 M을 넘지 않는 카드 3장을 찾을 수 있는 경우만 입력으로 주어진다.

#### 출력

첫째 줄에 M을 넘지 않으면서 M에 최대한 가까운 카드 3장의 합을 출력한다.

In [ ]:
rule = input()
rule = rule.split(' ')
rule = list(map(int, rule))
len = rule[0]
max = rule[1]

nums = input()
nums = nums.split(' ')
nums = list(map(int, nums))
nums.sort()

temp = 0
for i in range(len - 2):
    for j in range(i + 1, len - 1):
        for k in range(j + 1, len):
            current = nums[i] + nums[j] + nums[k]
            if current >= temp and current <= max:
                temp = current
print(temp)

### 2609번 최대공약수와 최소공배수

#### 문제
두 개의 자연수를 입력받아 최대 공약수와 최소 공배수를 출력하는 프로그램을 작성하시오.

#### 입력

첫째 줄에는 두 개의 자연수가 주어진다. 이 둘은 10,000이하의 자연수이며 사이에 한 칸의 공백이 주어진다.

#### 출력

첫째 줄에는 입력으로 주어진 두 수의 최대공약수를, 둘째 줄에는 입력으로 주어진 두 수의 최소 공배수를 출력한다.

In [ ]:
# 재현님 답안 brute force

# A, B = map(int, input().split())
# min = 0
# for num in range(1, max(A,B) + 1):
#     if A%num == 0 and B%num ==0:
#         min = num
# print(min , int(A*B/min))

In [ ]:
case = input()
case = case.split(' ')
case = list(map(int, case))
case.sort(reverse=True)

a = case[0]
b = case[1]

axb = a*b

temp = a % b
while temp !=0:
    a = b
    b = temp
    temp = a % b

gcd = b

lcm = axb / gcd

print(gcd, int(lcm))

18 24
6 72

### 10250번 ACM 호텔

#### 문제

ACM 호텔 매니저 지우는 손님이 도착하는 대로 빈 방을 배정하고 있다. 고객 설문조사에 따르면 손님들은 호텔 정문으로부터 걸어서 가장 짧은 거리에 있는 방을 선호한다고 한다. 여러분은 지우를 도와 줄 프로그램을 작성하고자 한다. 즉 설문조사 결과 대로 호텔 정문으로부터 걷는 거리가 가장 짧도록 방을 배정하는 프로그램을 작성하고자 한다.

문제를 단순화하기 위해서 호텔은 직사각형 모양이라고 가정하자. 각 층에 W 개의 방이 있는 H 층 건물이라고 가정하자 (1 ≤ H, W ≤ 99). 그리고 엘리베이터는 가장 왼쪽에 있다고 가정하자(그림 1 참고). 이런 형태의 호텔을 H × W 형태 호텔이라고 부른다. 호텔 정문은 일층 엘리베이터 바로 앞에 있는데, 정문에서 엘리베이터까지의 거리는 무시한다. 또 모든 인접한 두 방 사이의 거리는 같은 거리(거리 1)라고 가정하고 호텔의 정면 쪽에만 방이 있다고 가정한다.

방 번호는 YXX 나 YYXX 형태인데 여기서 Y 나 YY 는 층 수를 나타내고 XX 는 엘리베이터에서부터 세었을 때의 번호를 나타낸다. 즉, 그림 1 에서 빗금으로 표시한 방은 305 호가 된다.

손님은 엘리베이터를 타고 이동하는 거리는 신경 쓰지 않는다. 다만 걷는 거리가 같을 때에는 아래층의 방을 더 선호한다. 예를 들면 102 호 방보다는 301 호 방을 더 선호하는데, 102 호는 거리 2 만큼 걸어야 하지만 301 호는 거리 1 만큼만 걸으면 되기 때문이다. 같은 이유로 102 호보다 2101 호를 더 선호한다.

여러분이 작성할 프로그램은 초기에 모든 방이 비어있다고 가정하에 이 정책에 따라 N 번째로 도착한 손님에게 배정될 방 번호를 계산하는 프로그램이다. 첫 번째 손님은 101 호, 두 번째 손님은 201 호 등과 같이 배정한다. 그림 1 의 경우를 예로 들면, H = 6이므로 10 번째 손님은 402 호에 배정해야 한다.

#### 입력

프로그램은 표준 입력에서 입력 데이터를 받는다. 프로그램의 입력은 T 개의 테스트 데이터로 이루어져 있는데 T 는 입력의 맨 첫 줄에 주어진다. 각 테스트 데이터는 한 행으로서 H, W, N, 세 정수를 포함하고 있으며 각각 호텔의 층 수, 각 층의 방 수, 몇 번째 손님인지를 나타낸다(1 ≤ H, W ≤ 99, 1 ≤ N ≤ H × W). 

#### 출력

프로그램은 표준 출력에 출력한다. 각 테스트 데이터마다 정확히 한 행을 출력하는데, 내용은 N 번째 손님에게 배정되어야 하는 방 번호를 출력한다.

In [ ]:
h, w, t = 30, 50, 72

In [ ]:
tests = int(input())

for i in range(tests):
    nums = input().split()
    nums = list(map(int, nums))
    h, w, t = nums

    rooms = []

    for n in range(1, w+1):
        for f in range(1, h+1):
            if n < 10:
                rooms.append(f'{f}0{n}')
            else:
                rooms.append(f'{f}{n}')

    print(rooms[t-1])

2
6 12 10
402
30 50 72
1203

### 1259번 팰린드롬수

#### 문제

어떤 단어를 뒤에서부터 읽어도 똑같다면 그 단어를 팰린드롬이라고 한다. 'radar', 'sees'는 팰린드롬이다.

수도 팰린드롬으로 취급할 수 있다. 수의 숫자들을 뒤에서부터 읽어도 같다면 그 수는 팰린드롬수다. 121, 12421 등은 팰린드롬수다. 123, 1231은 뒤에서부터 읽으면 다르므로 팰린드롬수가 아니다. 또한 10도 팰린드롬수가 아닌데, 앞에 무의미한 0이 올 수 있다면 010이 되어 팰린드롬수로 취급할 수도 있지만, 특별히 이번 문제에서는 무의미한 0이 앞에 올 수 없다고 하자.

#### 입력

입력은 여러 개의 테스트 케이스로 이루어져 있으며, 각 줄마다 1 이상 99999 이하의 정수가 주어진다. 입력의 마지막 줄에는 0이 주어지며, 이 줄은 문제에 포함되지 않는다.

#### 출력

각 줄마다 주어진 수가 팰린드롬수면 'yes', 아니면 'no'를 출력한다.

In [ ]:
while True:
    num = input()
    if num == '0':
        break
    else:        
        length = len(num)
        mid = length//2
        num[mid]
        if length%2 == 0:
            head = num[:mid]
            tail = num[mid:]
            if head == tail[::-1]:
                print('yes')
            else:
                print('no')
        else:
            head = num[:mid]
            tail = num[mid+1:]
            if head == tail[::-1]:
                print('yes')
            else:
                print('no')

1
yes

### 11050번 이항 계수 1

#### 문제

자연수 \(N\)과 정수 \(K\)가 주어졌을 때 이항 계수 \(\binom{N}{K}\)를 구하는 프로그램을 작성하시오.

#### 입력

첫째 줄에 \(N\)과 \(K\)가 주어진다. (1 ≤ \(N\) ≤ 10, 0 ≤ \(K\) ≤ \(N\))

#### 출력

 
\(\binom{N}{K}\)를 출력한다.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)
        
N, K = map(int, input().split())
result = int(factorial(N) / (factorial(K) * factorial(N-K)))

print(result)

### 1181번 단어 정렬

#### 문제

알파벳 소문자로 이루어진 N개의 단어가 들어오면 아래와 같은 조건에 따라 정렬하는 프로그램을 작성하시오.

길이가 짧은 것부터
길이가 같으면 사전 순으로

#### 입력

첫째 줄에 단어의 개수 N이 주어진다. (1 ≤ N ≤ 20,000) 둘째 줄부터 N개의 줄에 걸쳐 알파벳 소문자로 이루어진 단어가 한 줄에 하나씩 주어진다. 주어지는 문자열의 길이는 50을 넘지 않는다.

#### 출력

조건에 따라 정렬하여 단어들을 출력한다. 단, 같은 단어가 여러 번 입력된 경우에는 한 번씩만 출력한다.

In [ ]:
sys.stdin.readline()

''

In [ ]:
# 정답

import sys

N = int(sys.stdin.readline())

words = []

for _ in range(N):
    word = sys.stdin.readline().strip()
    if word not in words:
        words.append(word)

words.sort()
words.sort(key=len)

for e in words:
    print(e)

In [ ]:
# 시간 초과

N = int(input())

words = []

for _ in range(N):
    word = input()
    if word not in words:
        words.append(word)

# words = 'but i wont hesitate no more no more it cannot wait im yours'.split()

for i in range(len(words)-1):
    for j in range(i, len(words)):
        if len(words[i]) > len(words[j]):
            temp = words[i]
            words[i] = words[j]
            words[j] = temp

words.sort(key=len)

for i in range(len(words)-1):
    for j in range(len(words)):
        if len(words[i]) < len(words[j]):
            new = words[i:j]
            new.sort()
            words[i:j] = new
            i = j
            j += 1
print()
for e in words:
    print(e)

In [ ]:
words = 'but i wont hesitate no more no more it cannot wait im yours'.split()
words.sort(key=len)
# index = list(map(len, words))
# index
words

### 1978번 소수 찾기

#### 문제

주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성하시오.

#### 입력

첫 줄에 수의 개수 N이 주어진다. N은 100이하이다. 다음으로 N개의 수가 주어지는데 수는 1,000 이하의 자연수이다.

#### 출력

주어진 수들 중 소수의 개수를 출력한다.

In [ ]:
import sys

# sys.stdin.readline()

m = int(input())
nums = list(map(int, input().split()))

primes = []
for i in range(m):
    num = nums[i]
    if num == 1:
        continue
    else:
        temp = []
        for j in range(2, num):
            if num%j == 0:
                temp.append(num)
        if len(temp) == 0:
            primes.append(num)
print(len(primes))

4
1 3 8 12

### 2751번 수 정렬하기 2

#### 문제

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

#### 입력

첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 절댓값이 1,000,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

#### 출력

첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

In [ ]:
lst =[-3,2,1]

In [ ]:
lst.sort()
lst

[-3, 1, 2]

In [ ]:
import sys

# sys.stdin.readline()

m = int(input())
nums = []
for _ in range(m):
    nums.append(int(input()))
nums.sort()
for e in nums:
    print(e)

### 10814번 나이순 정렬

#### 문제

온라인 저지에 가입한 사람들의 나이와 이름이 가입한 순서대로 주어진다. 이때, 회원들을 나이가 증가하는 순으로, 나이가 같으면 먼저 가입한 사람이 앞에 오는 순서로 정렬하는 프로그램을 작성하시오.

#### 입력

첫째 줄에 온라인 저지 회원의 수 N이 주어진다. (1 ≤ N ≤ 100,000)

둘째 줄부터 N개의 줄에는 각 회원의 나이와 이름이 공백으로 구분되어 주어진다. 나이는 1보다 크거나 같으며, 200보다 작거나 같은 정수이고, 이름은 알파벳 대소문자로 이루어져 있고, 길이가 100보다 작거나 같은 문자열이다. 입력은 가입한 순서로 주어진다.

#### 출력

첫째 줄부터 총 N개의 줄에 걸쳐 온라인 저지 회원을 나이 순, 나이가 같으면 가입한 순으로 한 줄에 한 명씩 나이와 이름을 공백으로 구분해 출력한다.

In [ ]:
3
21 Junkyu
21 Dohyun
20 Sunyoung

20 Sunyoung
21 Junkyu
21 Dohyun

In [ ]:
lst = [
    '21 Junkyu',
    '21 Dohyun',
    '20 Sunyoung',
]

In [ ]:
lst

['21 Junkyu', '21 Dohyun', '20 Sunyoung']

In [ ]:
import sys

# sys.stdin.readline()

m = int(input())

members = []

for i in range(m):
    member = input()
    members.append(member)

members.sort(key=lambda x: int(x.split(' ')[0]))

for member in members:
    print(member)

### 11650번 좌표 정렬하기

#### 문제

2차원 평면 위의 점 N개가 주어진다. 좌표를 x좌표가 증가하는 순으로, x좌표가 같으면 y좌표가 증가하는 순서로 정렬한 다음 출력하는 프로그램을 작성하시오.

#### 입력

첫째 줄에 점의 개수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개의 줄에는 i번점의 위치 xi와 yi가 주어진다. (-100,000 ≤ xi, yi ≤ 100,000) 좌표는 항상 정수이고, 위치가 같은 두 점은 없다.

#### 출력

첫째 줄부터 N개의 줄에 점을 정렬한 결과를 출력한다.

In [ ]:
m = int(input())

coordinates = []

for _ in range(m):
    coordinates.append(input())

coordinates.sort(key=lambda x: int(x.split()[1]))
coordinates.sort(key=lambda x: int(x.split()[0]))

for e in coordinates:
    print(e)

5
3 4
1 1
1 -1
2 -2
3 3
1 -1
1 1
2 -2
3 3
3 4

### 2775번 부녀회장이 될테야

#### 문제

평소 반상회에 참석하는 것을 좋아하는 주희는 이번 기회에 부녀회장이 되고 싶어 각 층의 사람들을 불러 모아 반상회를 주최하려고 한다.

이 아파트에 거주를 하려면 조건이 있는데, “a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다” 는 계약 조항을 꼭 지키고 들어와야 한다.

아파트에 비어있는 집은 없고 모든 거주민들이 이 계약 조건을 지키고 왔다고 가정했을 때, 주어지는 양의 정수 k와 n에 대해 k층에 n호에는 몇 명이 살고 있는지 출력하라. 단, 아파트에는 0층부터 있고 각층에는 1호부터 있으며, 0층의 i호에는 i명이 산다.

#### 입력

첫 번째 줄에 Test case의 수 T가 주어진다. 그리고 각각의 케이스마다 입력으로 첫 번째 줄에 정수 k, 두 번째 줄에 정수 n이 주어진다

#### 출력

각각의 Test case에 대해서 해당 집에 거주민 수를 출력하라.

#### 제한

1 ≤ k, n ≤ 14

In [ ]:
test_num = int(input())

for t in range(test_num):
    k = int(input()) + 1
    n = int(input())
    apt = []
    for i in range(1, k+1):
        if i == 1:
            floor = []
            for j in range(1, n+1):
                floor.append(j)
            apt.append(floor)
        else:
            floor = []
            for j in range(n):
                people = 0
                for m in apt[i-2][:j+1]:
                    people += m
                floor.append(people)
            apt.append(floor)
    print(apt[k-1][n-1])

1
3
5
70

In [ ]:
apt

[[1, 2, 3, 4, 5], [1, 3, 6, 10, 15], [1, 4, 10, 20, 35], [1, 5, 15, 35, 70]]

### 17478번 재귀함수가 뭔가요?

#### 문제

평소에 질문을 잘 받아주기로 유명한 중앙대학교의 JH 교수님은 학생들로부터 재귀함수가 무엇인지에 대하여 많은 질문을 받아왔다.

매번 질문을 잘 받아주셨던 JH 교수님이지만 그는 중앙대학교가 자신과 맞는가에 대한 고민을 항상 해왔다.

중앙대학교와 자신의 길이 맞지 않다고 생각한 JH 교수님은 결국 중앙대학교를 떠나기로 결정하였다.

떠나기 전까지도 제자들을 생각하셨던 JH 교수님은 재귀함수가 무엇인지 물어보는 학생들을 위한 작은 선물로 자동 응답 챗봇을 준비하기로 했다.

JH 교수님이 만들 챗봇의 응답을 출력하는 프로그램을 만들어보자.

#### 입력

교수님이 출력을 원하는 재귀 횟수 N(1 ≤ N ≤ 50)이 주어진다.

#### 출력

출력 예시를 보고 재귀 횟수에 따른 챗봇의 응답을 출력한다.

In [ ]:
num = int(input())

intro = '어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.'
text = ['"재귀함수가 뭔가요?"', 
        '"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.', 
        '마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.', 
        '그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."']
indent = '____'
tail = ['"재귀함수가 뭔가요?"', '"재귀함수는 자기 자신을 호출하는 함수라네"']
end = ['라고 답변하였지.']

def texts(num):
    if num == 0:
        return
    texts(num-1)
    for e in text:
        print(indent*(num-1)+e)

def tails(num):
    for e in tail:
        print(indent*(num)+e)

def ends(num):
    if num < 0:
        return
    for e in end:
        print(indent*(num)+e)
    ends(num-1)

def main(num):
    print(intro)
    texts(num)
    tails(num)
    ends(num)

main(num)

4
어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____"재귀함수가 뭔가요?"
____"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________"재귀함수가 뭔가요?"
________"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
________마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
________그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____________"재귀함수가 뭔가요?"
____________"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
____________마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
____________그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
________________"재귀함수가 뭔가요?"
________________"재귀함수는 자기 자신을 호출하는 함수라네"
________________라고 답변하였지.
____________라고 답변하였지.
________라고 답변하였지.
____라고 답변하였지.
라고 답변하였지.

### 11866번 요세푸스 문제 0

#### 문제

요세푸스 문제는 다음과 같다.

1번부터 N번까지 N명의 사람이 원을 이루면서 앉아있고, 양의 정수 K(≤ N)가 주어진다. 이제 순서대로 K번째 사람을 제거한다. 한 사람이 제거되면 남은 사람들로 이루어진 원을 따라 이 과정을 계속해 나간다. 이 과정은 N명의 사람이 모두 제거될 때까지 계속된다. 원에서 사람들이 제거되는 순서를 (N, K)-요세푸스 순열이라고 한다. 예를 들어 (7, 3)-요세푸스 순열은 <3, 6, 2, 7, 5, 1, 4>이다.

N과 K가 주어지면 (N, K)-요세푸스 순열을 구하는 프로그램을 작성하시오.

#### 입력

첫째 줄에 N과 K가 빈 칸을 사이에 두고 순서대로 주어진다. (1 ≤ K ≤ N ≤ 1,000)

#### 출력

예제와 같이 요세푸스 순열을 출력한다.

In [ ]:
# N명의 사람
# 처음과 끝이 이어짐
# K번째 사람을 순서대로 제거

In [ ]:
from collections import deque

queue = deque()
answer = []

n, k = map(int, input().split())

for i in range(1, n+1):
    queue.append(i)

while queue:
    for i in range(k-1):
        queue.append(queue.popleft())
    answer.append(queue.popleft())

print("<",end='')
for i in range(len(answer)-1):
    print("%d, "%answer[i], end='')
print(answer[-1], end='')
print(">")

7 3
<3, 6, 2, 7, 5, 1, 4>